rapidfuzz
geopandas
tobler
folium
matplotlib<3.9
plotly
seaborn
openpyxl
lonboard
ipykernel
black[jupyter]
isort
beautifulsoup4
lxml
requests
mapclassify
pygwalker
quak
altair
vl-convert-python
nbformat
bokeh
# openturns # may use later
spatial-kfold
pysal
contextily
shap
catboost
mgwr
optuna
